$AU-color-foreground-text:   #313131;
$AU-color-foreground-action: #00698F;
$AU-color-background:        #FFFFFF;
$AU-colordark-foreground-text:   #FFFFFF;
$AU-colordark-foreground-action: #61DAFF;
$AU-colordark-background:        #313131;

@import '../../pancake/sass/pancake.scss';

.au-body.au-body--dark {
    background-color: $AU-colordark-background !important;
}

@media screen and (max-width: 768px) {    
    .au-table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .au-table .au-table__cell {
      border-bottom-width: 0px;
      display: block;
    }

    .au-table .au-table__cell:last-child {
        margin-bottom: 2rem;
    }

    .au-table td::before {
      content: attr(data-label)"\A";
      font-weight: bold;
      white-space: pre-line;
      
    }
  }
