body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

@media (max-width: 768px) {
    .margin-sm-0 { margin: 0rem; }
    .margin-sm-1 { margin: 1rem; }
    .margin-sm-2 { margin: 2rem; }

    .margin-sm-left-0 { margin-left: 0rem; }
    .margin-sm-left-1 { margin-left: 1rem; }
    .margin-sm-left-2 { margin-left: 2rem; }

    .margin-sm-right-1 { margin-right: 1rem; }
    .margin-sm-right-2 { margin-right: 2rem; }

    .margin-sm-top-05 { margin-top: 0.5rem; }
    .margin-sm-top-1 { margin-top: 1rem; }
    .margin-sm-top-2 { margin-top: 2rem; }
    .margin-sm-top-3 { margin-top: 3rem; }
    .margin-sm-top-4 { margin-top: 4rem; }

    .margin-sm-bottom-05 { margin-bottom: 0.5rem; }
    .margin-sm-bottom-1 { margin-bottom: 1rem; }
    .margin-sm-bottom-2 { margin-bottom: 2rem; }
    .margin-sm-bottom-3 { margin-bottom: 3rem; }
    .margin-sm-bottom-4 { margin-bottom: 4rem; }

    .padding-sm-0 { padding: 0rem; }
    .padding-sm-1 { padding: 1rem; }
    .padding-sm-2 { padding: 2rem; }
    .padding-sm-3 { padding: 3rem; }
    .padding-sm-4 { padding: 4rem; }

    .padding-sm-left-0 { padding-left: 0rem; }
    .padding-sm-left-1 { padding-left: 1rem; }
    .padding-sm-left-2 { padding-left: 2rem; }

    .padding-sm-right-0 { padding-right: 0rem; }
    .padding-sm-right-1 { padding-right: 1rem; }
    .padding-sm-right-2 { padding-right: 2rem; }

    .padding-sm-top-05 { padding-top: 0.5rem; }
    .padding-sm-top-1 { padding-top: 1rem; }
    .padding-sm-top-2 { padding-top: 2rem; }
    .padding-sm-top-3 { padding-top: 3rem; }

    .padding-sm-bottom-1 { padding-bottom: 1rem; }
    .padding-sm-bottom-2 { padding-bottom: 2rem; }
    .padding-sm-bottom-3 { padding-bottom: 3rem; }

    .hide-sm { display: none; }
}

@media (min-width: 769px) {
    .margin-md-0 { margin: 0rem; }
    .margin-md-1 { margin: 1rem; }
    .margin-md-2 { margin: 2rem; }

    .margin-md-left-0 { margin-left: 0rem; }
    .margin-md-left-1 { margin-left: 1rem; }
    .margin-md-left-2 { margin-left: 2rem; }

    .margin-md-right-1 { margin-right: 1rem; }
    .margin-md-right-2 { margin-right: 2rem; }

    .margin-md-top-05 { margin-top: 0.5rem; }
    .margin-md-top-1 { margin-top: 1rem; }
    .margin-md-top-2 { margin-top: 2rem; }
    .margin-md-top-3 { margin-top: 3rem; }
    .margin-md-top-4 { margin-top: 4rem; }

    .margin-md-bottom-05 { margin-bottom: 0.5rem; }
    .margin-md-bottom-1 { margin-bottom: 1rem; }
    .margin-md-bottom-2 { margin-bottom: 2rem; }
    .margin-md-bottom-3 { margin-bottom: 3rem; }
    .margin-md-bottom-4 { margin-bottom: 4rem; }

    .padding-md-0 { padding: 0rem; }
    .padding-md-1 { padding: 1rem; }
    .padding-md-2 { padding: 2rem; }
    .padding-md-3 { padding: 3rem; }
    .padding-md-4 { padding: 4rem; }

    .padding-md-left-0 { padding-left: 0rem; }
    .padding-md-left-1 { padding-left: 1rem; }
    .padding-md-left-2 { padding-left: 2rem; }

    .padding-md-right-0 { padding-right: 0rem; }
    .padding-md-right-1 { padding-right: 1rem; }
    .padding-md-right-2 { padding-right: 2rem; }

    .padding-md-top-05 { padding-top: 0.5rem; }
    .padding-md-top-1 { padding-top: 1rem; }
    .padding-md-top-2 { padding-top: 2rem; }
    .padding-md-top-3 { padding-top: 3rem; }

    .padding-md-bottom-1 { padding-bottom: 1rem; }
    .padding-md-bottom-2 { padding-bottom: 2rem; }
    .padding-md-bottom-3 { padding-bottom: 3rem; }

    .hide-md { display: none; }
}

@media (min-width: 1200px) {
    .margin-lg-0 { margin: 0rem; }
    .margin-lg-1 { margin: 1rem; }
    .margin-lg-2 { margin: 2rem; }

    .margin-lg-left-0 { margin-left: 0rem; }
    .margin-lg-left-1 { margin-left: 1rem; }
    .margin-lg-left-2 { margin-left: 2rem; }

    .margin-lg-right-1 { margin-right: 1rem; }
    .margin-lg-right-2 { margin-right: 2rem; }

    .margin-lg-top-05 { margin-top: 0.5rem; }
    .margin-lg-top-1 { margin-top: 1rem; }
    .margin-lg-top-2 { margin-top: 2rem; }
    .margin-lg-top-3 { margin-top: 3rem; }
    .margin-lg-top-4 { margin-top: 4rem; }

    .margin-lg-bottom-05 { margin-bottom: 0.5rem; }
    .margin-lg-bottom-1 { margin-bottom: 1rem; }
    .margin-lg-bottom-2 { margin-bottom: 2rem; }
    .margin-lg-bottom-3 { margin-bottom: 3rem; }
    .margin-lg-bottom-4 { margin-bottom: 4rem; }

    .padding-lg-0 { padding: 0rem; }
    .padding-lg-1 { padding: 1rem; }
    .padding-lg-2 { padding: 2rem; }
    .padding-lg-3 { padding: 3rem; }
    .padding-lg-4 { padding: 4rem; }

    .padding-lg-left-0 { padding-left: 0rem; }
    .padding-lg-left-1 { padding-left: 1rem; }
    .padding-lg-left-2 { padding-left: 2rem; }

    .padding-lg-right-0 { padding-right: 0rem; }
    .padding-lg-right-1 { padding-right: 1rem; }
    .padding-lg-right-2 { padding-right: 2rem; }

    .padding-lg-top-05 { padding-top: 0.5rem; }
    .padding-lg-top-1 { padding-top: 1rem; }
    .padding-lg-top-2 { padding-top: 2rem; }
    .padding-lg-top-3 { padding-top: 3rem; }

    .padding-lg-bottom-1 { padding-bottom: 1rem; }
    .padding-lg-bottom-2 { padding-bottom: 2rem; }
    .padding-lg-bottom-3 { padding-bottom: 3rem; }

    .hide-lg { display: none; }
}

.height-1 { height: 1rem; }
.height-2 { height: 2rem; }
.height-3 { height: 3rem; }
.height-4 { height: 4rem; }
.height-5 { height: 5rem; }
.height-6 { height: 6rem; }
.height-7 { height: 7rem; }
.height-8 { height: 8rem; }
.height-9 { height: 9rem; }

.width-25 { width: 24.95%; }
.width-50 { width: 49.95%; }
.width-60 { width: 59.95%; }
.width-75 { width: 74.95%; }
.width-100 { width: 99.95%; }

.width-1 { width: 1rem; }
.width-2 { width: 2rem; }
.width-3 { width: 3rem; }
.width-4 { width: 4rem; }
.width-5 { width: 5rem; }
.width-6 { width: 6rem; }
.width-7 { width: 7rem; }
.width-8 { width: 8rem; }
.width-9 { width: 9rem; }

.float-left { float: left; }

.background-white { background-color: #FFFFFF; }
.background-light-grey { background-color: #F5F5F5; }
.background-dark-grey { background-color: #DADADA; }

.background-blue { background-color: #00698F; }

.badge {
    border-radius: 16px;
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
}
.badge-blue {
    background-color: #00698F;
    color: #FFFFFF;
}
.badge-red {
    background-color: #CC0000;
    color: #FFFFFF;
}
.badge-green {
    background-color: #00855D;
    color: #FFFFFF;
}

.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }

.text-colour-white { color: #FFFFFF; }
.text-colour-grey { color: #979797; }

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.border-radius-1, .au-btn.border-radius-1 { border-radius: 4px 4px 4px 4px; }
.border-radius-2, .au-btn.border-radius-2 { border-radius: 8px 8px 8px 8px; }
.border-radius-left, .au-btn.border-radius-left { border-radius: 4px 0px 0px 4px; }
.border-radius-right, .au-btn.border-radius-right { border-radius: 0px 4px 4px 0px; }
.border-radius-none, .au-btn.border-radius-none { border-radius: 0px; }å
.border-radius-bottom-none, .au-btn.border-radius-bottom-none { border-radius: 4px 4px 0px 0px; }

.border-width-1 { border-style: solid; border-width: 1px; }
.border-top-width-1 { border-top-style: solid; border-top-width: 0.5px; }
.border-top-width-2 { border-top-style: solid; border-top-width: 1px; }

.border-bottom-width-1 { border-bottom-style: solid; border-bottom-width: 0.5px; }
.border-bottom-width-2 { border-bottom-style: solid; border-bottom-width: 1px; }

.border-right-none, .au-btn.border-right-none { border-right-style: none; }
.border-left-none, .au-btn.border-left-none { border-left-style: none; }

.border-light-grey { border-color: #D8D8D8;}
.border-dark-grey { border-color: #979797;}

.font-style-italic { font-style: italic; }

.font-size-1 { font-size: 1rem; }
.font-size-2 { font-size: 2rem; }

.font-weight-1 { font-weight: 100; }
.font-weight-2 { font-weight: 200; }
.font-weight-3 { font-weight: 300; }
.font-weight-4 { font-weight: 400; }
.font-weight-5 { font-weight: 500; }
.font-weight-6 { font-weight: 600; }
.font-weight-7 { font-weight: 700; }
.font-weight-8 { font-weight: 800; }
.font-weight-9 { font-weight: 900; }

.z-index-1 { z-index: 1000; }
.z-index-2 { z-index: 2000; }
.z-index-3 { z-index: 3000; }
.z-index-4 { z-index: 4000; }
.z-index-5 { z-index: 5000; }
